<span class="node-label node-toggle-open" {{action "toggleOpen"}}>{{yield node this}}</span>
{{#if isOpen}}
  <div class="node-list">
    {{#each _children as |child|}}
      {{#async-tree-node
        depth=nextDepth
        parent=node
        node=child

        initialFilter=initialFilter
        fetch=fetch
        open=open
        close=close
        as |child component|
      }}
        {{yield child component}}
      {{/async-tree-node}}
    {{/each}}
  </div>
{{/if}}