<div class="node-list">
  {{#ember-collection
    items=_children
    cell-layout=(fixed-grid-layout 300 row-height)
    as |child|
  }}
    {{#async-tree-node
      depth=0
      parent=node
      node=child

      initialFilter=(action "initialFilter")
      fetch=(action "fetchChildren")
      open=(action "open")
      close=(action "close")
      as |child component|
    }}
      {{yield child component}}
    {{/async-tree-node}}
  {{/ember-collection}}
</div>
{{#if hasMore}}
  {{#async-more infinite=infinite on-render=(action 'fetchMore' meta)}}More{{/async-more}}
{{/if}}