{{#if hasNode}}
  <span class="node-label node-toggle-open" {{action "toggleOpen"}}>{{yield node this}}</span>
{{/if}}
{{#if isOpen}}
  <ul class="node-list">
  {{#each _children as |child|}}
    {{#async-tree
      depth=nextDepth
      initialData=initialData
      children-filter=children-filter
      tagName="li"
      check-has-more=check-has-more
      fetch=fetch
      open=open
      close=close
      parent=node
      node=child
      as |child component|
    }}
      {{yield child component}}
    {{/async-tree}}
  {{/each}}
  </ul>
  {{#if hasMore}}
    <span class="load-more" {{action 'more' node meta}}>More</span>
  {{/if}}
{{/if}}
