{{#if hasNode}}
  <div class="node-label">
    {{yield node this}}
  </div>
{{/if}}
{{#if isOpen}}
  <ul class="node-list">
  {{#each children as |child|}}
    {{#async-tree
      expand-only-child=expand-only-child
      fetch-on-init=fetch-on-init
      tagName="li"
      fetch=fetch
      checkOpen=checkOpen
      open="open"
      close="close"
      parent=node
      node=child
      as |child component|
    }}
      {{yield child component}}
    {{/async-tree}}
  {{/each}}
  </ul>
{{/if}}
