<div class="node-list">
{{#each nodes as |node|}}
  {{#async-node
    data=data
    fetch=attrs.fetch
    filter-data=(action (if attrs.filter-data attrs.filter-data 'filterData') data)
    open-nodes=openNodes
    is-open=(array-contains openNodes node)
    on-open=(action 'open')
    on-close=(action 'close')
    depth=0
    node=node
    as |node component|
  }}
    {{yield node component}}
  {{/async-node}}
{{/each}}
</div>
