{{#if hasNode}}
  <span class="node-label">{{yield node this}}</span>
{{/if}}
{{#if isOpen}}
  <ul class="node-list">
  {{#each children as |child|}}
    {{#async-tree
      depth=nextDepth
      initialData=initialData
      children-filter=children-filter
      expand-only-child=expand-only-child
      fetch-on-init=fetch-on-init
      tagName="li"
      fetch=fetch
      checkOpen=checkOpen
      checkHasMore=checkHasMore
      open="open"
      close="close"
      parent=node
      node=child
      as |child component|
    }}
      <span class="toggle-open" {{action 'toggle' target=component bubbles=false}}>
        {{yield child component}}
      </span>
    {{/async-tree}}
  {{/each}}
  </ul>
  {{#if hasMore}}
    <span class="load-more" {{action 'more' node meta}}>More</span>
  {{/if}}
{{/if}}
