{{#if hasNode}}
  <span class="node-label node-toggle-open" {{action "toggleOpen"}}>{{yield node this}}</span>
{{/if}}
{{#if isOpen}}
  <ul class="node-list">
  {{#each _children as |child|}}
    {{#async-tree
      depth=nextDepth
      initialData=initialData
      children-filter=children-filter
      expand-only-child=expand-only-child
      fetch-on-init=fetch-on-init
      tagName="li"
      fetch=fetch
      open=this.open
      close=this.close
      parent=node
      node=child
      as |child component|
    }}
      {{yield child component}}
    {{/async-tree}}
  {{/each}}
  </ul>
{{/if}}
