<div class="node-label">
  {{yield node isOpen hasChildren}}
</div>
{{#if isOpen}}
  <ul class="node-list">
  {{#each children as |child|}}
    {{#async-tree
      tagName="li"
      fetch=fetch
      checkOpen=checkOpen
      open="open"
      close="close"
      parent=node
      node=child
      as |child isOpen hasChildren|
    }}
      {{yield child isOpen hasChildren}}
    {{/async-tree}}
  {{/each}}
  </ul>
{{/if}}
