<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--overlay-drawer-button">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Async Tree</span>
    <nav class="mdl-navigation">
      {{#link-to 'simple' classNames="mdl-navigation__link"}}Simple{{/link-to}}
      {{#link-to 'paginated' classNames="mdl-navigation__link"}}Paginated{{/link-to}}
      {{#link-to 'infinite-scroll' classNames="mdl-navigation__link"}}Infinite Scroll{{/link-to}}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      {{outlet}}
    </div>
  </main>
</div>
