<div class="simple mdl-cell mdl-cell--12-col-desktop">
  <h3>Simple Async Tree</h3>

  {{! // BEGIN-SNIPPET simple-template }}
    {{#async-tree
      fetch-on-init=true
      fetch=(action 'fetch')
      as |node component|
    }}{{node.name}}{{/async-tree}}
  {{! // END-SNIPPET }}

  <h4>Template</h4>
  {{code-snippet name="simple-template.hbs"}}

  <h4>Controller</h4>
  {{code-snippet name="simple-controller.js"}}

  <h4>CSS</h4>
  {{code-snippet name="simple-scss.scss"}}

</div>
